<main class="p-4 md:p-6 h-[100dvh]">
  <div class="w-full max-w-[26.875rem] h-full p-4 banner m-auto"><!--  bg-[var(--color-primary)] -->
    <div class="w-full h-full relative z-10">
      <img src="/images/resourse/flower-01.svg" alt="flor center" class="absolute right-[-1rem] top-[-0.9375rem]">
      <img src="/images/resourse/flower-02.svg" alt="flor center" class="absolute left-[-1rem] top-1/2 -translate-y-1/2">
      <img src="/images/resourse/flower-03.svg" alt="flor center" class="absolute right-[-0.9375rem] bottom-[-0.9375rem]">
      <img src="/images/resourse/flower-04.svg" alt="flor center" class="absolute left-[-0.9375rem] top-[-0.9375rem]">
    </div>
  </div>
</main>
