@defer {
<main class="flex p-4 md:p-6 h-[100dvh] overflow-auto fade-in">
  <div class="w-full max-w-[26.875rem] banner m-auto">
    <!--  bg-[var(--color-primary)] -->
    <div class="border-july left"></div>
    <div class="border-july right"></div>
    <div class="border-july top"></div>
    <div class="border-july bottom"></div>
    <div class="w-full h-full relativez-10 p-3">
      <img
        src="images/resource/flower-01.svg"
        alt="flor center"
        loading="lazy"
        class="absolute right-[0rem] top-[-0rem] w-full max-w-[5.808em]"
      />
      <img
        src="images/resource/flower-02.svg"
        alt="flor center"
        loading="lazy"
        class="absolute left-[-1rem] top-1/2 -translate-y-[15%] w-full max-w-[7em]"
      />
      <img
        src="images/resource/flower-03.svg"
        alt="flor center"
        loading="lazy"
        class="absolute right-[-0.3125rem] bottom-[0rem] w-full max-w-[12.2698em]"
      />
      <img
        src="images/resource/flower-04.svg"
        alt="flor center"
        loading="lazy"
        class="absolute left-[-0.1875rem] top-[0rem] w-full max-w-[9em]"
      />
      <div class="w-full h-full bg-[var(--color-primary)] p-[1.44em]">
        <div class="relative w-full flex justify-center mb-[0.64em]">
          <img
            src="images/resource/circle-ramo.svg"
            alt="ramo"
            loading="lazy"
            class="w-full max-w-[9.48em] relative"
          />
          <p
            class="absolute top-1/2 left-1/2 -translate-x-[1.3em] -translate-y-[1.5em] text-[1.8em] bonheur-royale-regular"
          >
            J
          </p>
          <p
            class="absolute top-1/2 left-1/2 translate-x-[0.3em] translate-y-[0em] text-[1.8em] bonheur-royale-regular"
          >
            S
          </p>
        </div>

        <p
          class="relative mb-[1.4em] text-center text-[0.72em] leading-[1.5em] max-w-[11em] mx-auto playfair-display-regular"
        >
          Reserva la fecha para la boda de
        </p>

        <h1
          class="relative mb-[0.44em] text-center text-[3em] leading-[0.6em] fleur-de-leah-regular"
        >
          Jesús <br />
          <span class="italianno-regular">&</span> <br />
          Shannon
        </h1>

        <div class="flex mb-[1.1em]">
          <!-- line -->
          <!-- <div
            class="relative w-[0.125rem] h-[3.8em] bg-black mx-auto"
          ></div> -->
          <!-- love letter -->
           <div class="card-letter-container">
             <div class="envelope relative mx-auto flex justify-center overflow-hidden animate-growIn">
               <img src="images/ico/icon_letter_love/card_top.svg" alt="top" loading="lazy" class="absolute w-20 top-0 flap-anim">
               <img src="images/ico/icon_letter_love/letter.svg" alt="letter" loading="lazy" class="absolute w-[3.375rem] z-10 bottom-0 letter-anim">
               <img src="images/ico/icon_letter_love/card_front.svg" alt="front" loading="lazy" class="absolute w-20 z-20 bottom-0">
               <img src="images/ico/icon_letter_love/card_back.svg" alt="back" loading="lazy" class="absolute w-20 bottom-0">
             </div>
           </div>
        </div>

        <p
          class="relative mb-[0.96em] text-[0.72em] leading-[1.5em] text-center playfair-display-regular"
        >
          Te esperamos el día
        </p>

        <p class="relative text-center text-[0.96em] simonetta-regular">
          28 DE FEBRERO, 2026
        </p>

        <!-- <a
          routerLink="/wedding-landing"
          class="text-sm relative z-10  group mx-auto mt-[0.5em] mb-[3em] flex justify-center items-center gap-2 text-sky-800 font-medium underline decoration-2 underline-offset-4 hover:decoration-4 hover:text-sky-900 transition-all"
          aria-label="Ir a la invitación digital con toda la información"
        >
          descubre cómo será nuestro gran día 💌
          <svg
            class="h-[1em] w-[1em] transition-transform group-hover:translate-x-0.5"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              d="M5 12h14M13 5l7 7-7 7"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a> -->


      </div>
    </div>
  </div>
</main>
} @placeholder (minimum 3000ms) {
<loading />
}
