<main class="p-4 md:p-6 h-[100dvh]">
  <div class="w-full max-w-[26.875rem] h-full banner m-auto"><!--  bg-[var(--color-primary)] -->
    <div class="border-july left"></div>
    <div class="border-july right"></div>
    <div class="border-july top"></div>
    <div class="border-july bottom"></div>
    <div class="w-full h-full relativez-10 p-3">
      <img src="/images/resourse/flower-01.svg" alt="flor center" class="absolute right-[0rem] top-[-0rem]">
      <img src="/images/resourse/flower-02.svg" alt="flor center" class="absolute left-[-1rem] top-1/2 -translate-y-[20%]">
      <img src="/images/resourse/flower-03.svg" alt="flor center" class="absolute right-[-0.3125rem] bottom-[0rem]">
      <img src="/images/resourse/flower-04.svg" alt="flor center" class="absolute left-[-0.1875rem] top-[0rem]">
      <div class="w-full h-full bg-[var(--color-primary)] p-[2.25rem]">

        <div class="relative w-full flex justify-center mb-4">
          <img src="/images/resourse/circle-ramo.svg" alt="ramo" class="w-[14.8125rem] relative">
          <p class="absolute top-1/2 left-1/2 -translate-x-[50px] -translate-y-[66px] text-[40px] bonheur-royale-regular">J</p>
          <p class="absolute top-1/2 left-1/2 translate-x-[15px] -translate-y-[1px] text-[40px] bonheur-royale-regular">S</p>
        </div>

        <p class="relative mb-6 text-center text-lg max-w-44 mx-auto playfair-display-regular">Reserva la fecha para la boda de</p>

        <h1 class="relative mb-9 text-center text-[4.375rem] leading-[60px] fleur-de-leah-regular">
          Jesús <br> <span class="italianno-regular">&</span> <br> Shannon
        </h1>

        <div class="relative w-[0.125rem] h-20 bg-black mb-9 mx-auto"></div>

        <p class="relative mb-6 text-center text-lg playfair-display-regular">Te esperamos el día</p>

        <p class="relative text-center text-2xl simonetta-regular">28 DE FEBRERO, 2026</p>

      </div>
    </div>
  </div>
</main>
