.banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: clamp(15px, 25px, 5.5vw);
  /*   @media screen and (min-width: 768px) {
        font-size: clamp(3px, 26px, 2vw);
    } */
}


.border-july {
  position: absolute;
  background-size: contain;
  &.left {
    background-image: url('/images/resource/border_banner.svg');
    background-repeat: repeat-y;
    width: 35px;
    height: 100%;
    top: 5px;
    left: 0;
  }
  &.right {
    background-image: url('/images/resource/border_banner.svg');
    background-repeat: repeat-y;
    width: 35px;
    height: 100%;
    top: 5px;
    right: 0;
    transform: scaleX(-1);
  }
  &.top {
    background-repeat: repeat-x;
    background-image: url('/images/resource/border-banner-rotate.svg');
    background-position: center;
    width: 150%;
    height: 35px;
    top: 0;
    left: 0;
  }
  &.bottom {
    background-repeat: repeat-x;
    background-image: url('/images/resource/border-banner-rotate.svg');
    width: 95%;
    height: 35px;
    bottom: 0;
    left: 5px;
    transform: scaleY(-1);
  }
}

.card-letter-container {
   @apply w-max;
  perspective: 800px;
}

.envelope {
  @apply w-[3.2em] h-[3.2em];
  transform-style: preserve-3d;
}

.flap-anim {
  @apply z-20;
  transform-origin: bottom;
  transform: rotateX(180deg);
  animation: flapOpen 0.5s ease-in-out 0.5s forwards;
}

.letter-anim {
  transform: translateY(20px);
  animation: letterUp 0.5s ease-out 0.8s forwards, letterFloat 2s ease-in-out 1.4s infinite; ;
}

.animate-growIn {
  animation: growIn 0.5s ease-out 0s forwards;
}

@keyframes growIn {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes flapOpen {
  0% {
    @apply z-20;
    transform-origin: bottom;
    transform: rotateX(180deg);
  }
  100% {
    @apply z-0;
    transform-origin: bottom;
    transform: rotateX(0deg);
  }
}


@keyframes letterUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes letterFloat {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

