/* You can add global styles to this file, and also import other style files */
// @import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/scss/variables";
@import "./assets/scss/fonts";


body {
  background-image: url('/images/resource/Bacground-desktop.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100dvh;
}
